.header {
  position: sticky;
  top: 0px;
  z-index: 1;
  box-shadow: 0px 3px 9px -16px rgba(51, 50, 50, 0.1);
}
.canvas_wrap {
  display: block;
}
.hamburger {
  display: none;
}
.logo {
  width: 147px;
  height: 68px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.main_nav {
  padding: 10px 0px;
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px 12px 0px;
  margin: 0px;
  height: 40px;
}
ul.nav_bar li {
  list-style: none;
}
ul.nav_bar li a.link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #2b3374;
  text-decoration: none;
  cursor: pointer;
}

ul.nav_bar li button {
  box-sizing: border-box;
  width: 99px;
  height: 41px;
  background: #ffffff;
  border-radius: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #12105c;
}

@media only screen and (max-width: 991px) {
  .nav_wrapper {
    display: flex;
    justify-content: flex-end;
  }
  .nav_wrapper .nav_bar {
    display: none;
  }
  .hamburger {
    display: block;
    z-index: 2;
  }
  .canvas_wrap h2 {
    text-align: center;
    margin-top: 40px;
    color: #fff;
  }
  .canvas_wrap ul.nav_bar {
    align-items: flex-start;
    margin: 0px;
    padding: 0px;
  }
  .canvas_wrap ul.nav_bar li {
    width: 100%;
    padding-left: 40px;
    align-items: flex-start;
    padding-left: 20px;
    margin: 10px 0px;
    border-bottom: 1px solid #383838;
  }
  .canvas_wrap .c_social {
    display: flex;
    justify-content: space-around;
  }
  .canvas_wrap .c_social li {
    border: none !important;
    color: #fff;
  }
  .hamburger a {
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: 26px;
  }
  .canvas_wrap {
    display: block;
  }
  .offcanvas {
    background-color: #333;
    width: 248px;
  }
  .canvas_wrap ul {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 768) {
  .top_nav ul {
    display: none;
  }
}
@media only screen and (max-width: 490px) {
  .top_nav {
    display: none;
  }
}
